* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.sidebar 
{
    position: fixed;
    background: #2471A3 ;
    color: #fff;
    width: 210px;
    height: 100%;
    overflow: auto;
}
h1
{
    text-align: center;

}
p 
{
    font-weight: bold;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.sidebar>h2 
{
    text-align: center;
    margin: 0;
    padding: 7px;
    background: blue;
}

a 
{
    display: block;
    text-decoration: none;
    padding: 7px;
    font-size: larger;
    color: #fff;
}

a:visited 
{
    color: #fff;
}

a:hover 
{
    background: #686d94;
    border-left: 4px solid #eee;
    padding-left: 5px;
}

a:active 
{
    background: #686d94;
    border-left: 3px solid rgb(40, 6, 80);
    color: #fff;
}

div.content 
{
    background: linear-gradient(to bottom right, blue, white);
    margin-left: 200px;
    padding: 1px 16px;
    height: 1200px;
}

.contenido
{
    display: none;
}



input 
{
    display: none;
}

input:checked+.sidebar
{
    width: 0px;
}

input:checked~.content 
{
    margin-left: 0px;
}

label 
{
    font-size: large;
    font-weight: bold;
    color: #330844;
}

.logo 
{
    vertical-align: middle;
}

.imagenes 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



#inicio 
{
    text-align: center;
    margin: 0;
    font-size: larger;
}

.descripcion 
{
    text-align: justify;
    padding: 10px;
    font-size: medium;
}
#primerageneracion:target,
#segundageneracion:target,
#tercerageneracion:target,
#cuartageneracion:target,
#quintageneracion:target,
#sextageneracion:target 
{
    display: block;
}

@media screen and (max-width: 1200px) 
{
    div.sidebar 
    {
        position: relative;
        width: 100%;
        height: auto;
    }
    .sidebar h2 
    {
        float: none;
        text-align: center;
    }
    .sidebar a 
    {
        padding: 5px 0%;
        float: left;
        width: calc(100%/6);
        font-size: large;
    }
    div.content 
    {
        margin-left: 0;
    }
    input:checked+.sidebar 
    {
        height: 0px;
    }
    input:checked~.content 
    {
        margin-top: 0px;
    }
    #inicio 
    {
        font-size: medium;
        font-weight: bold;
    }
    .imagenes 
    {
        width: 85px;
        height: 85px;
    }
}

@media screen and (max-width: 800px) 
{
    .sidebar a 
    {
        font-size: medium;
    }
    .sidebar a>img 
    {
        width: 20px;
        height: 20px;
    }
    .descripcion 
    {
        font-size: small;
    }
}

@media screen and (max-width: 600px) 
{
    .sidebar h2 
    {
        float: none;
        text-align: center;
    }
    .sidebar a 
    {
        padding: 5px 0px;
        float: none;
        text-align: center;
        width: 100%;
    }
    #inicio 
    {
        font-size: small;
    }
    .imagenes 
    {
        width: 75px;
        height: 75px;
    }
}