* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    background:  linear-gradient(to bottom right, blue, white);

    
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;

    justify-content: center;

    transition: 1s;

}

.caja{
    background-color: #246355;
    color: white;
}

#caja1{
    background-color: #312f2f;
    grid-column-start: 1;
    grid-column-end: 3;
}
#caja2{
    background-color: #750b0b;
    margin: 10px;
}
#caja3{
    background-color: #28a04c;
    margin: 10px;
}
#caja4{
    background-color: #FFFFFF;
   

}
#caja5{
    background-color: #FFFFFF;
  
}

#caja6{
    background-color: #312f2f;
    grid-column-start: 1;
    grid-column-end: 3;
}